body {
    background-color: #121212;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.site-header__top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #1A1A2E;
}

.site-header__logo {
    width: 15rem;
    height:auto;
}

.site-header__logo-link {
    grid-column: 2;
    justify-self: center;
}

.site-header__search-form {
    grid-column: 3;
    justify-self: end;
    margin-right: 1.56rem;
}

.site-header__search-input {
    width: 240px;
    height: 42px;
    padding: 8px 15px;
    font-size: 14px;
    font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
    background-color: #0a0a0c;
    border: 1px solid #C9A227;
    border-radius: 6px;
    color: #E0E0E0;
}

.site-header__search-input::placeholder {
    color: #E0E0E0;
}

.site-header__search-input:focus {
    outline: none;
    border-color: #C9A227;
}

.site-header__branding {
    grid-column: 2;
    justify-self: center;
    margin-top: 3rem;
}

.site-header__title {
    color: #E0E0E0;
    font-size: 90px;
    font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
}

.site-header__tagline {
    color: #E0E0E0;
    font-size: 24px;
    
    font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
    justify-self: center;
    margin-top: -2.4rem;
}

.most-trending {
    margin-top: 3rem;
    width: 47%;  
    min-height: 50vh;       
    margin-left: auto;    
    margin-right: auto;   
    background-color: #1A1A2E;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 30px;
    height: 1000px;
}

.most-trending__title {
    margin-top: 1.6rem;
    align-self: center; 
    font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

